
.env
*.env

__pycache__/
*.pyc

.venv/

abc.py
venv/
requirements.txt

qa_app/sessions.json
session_id.txt

data/

data.txt

image-similarity-search/images
image-similarity-search/uploads

image-similarity/images
image-similarity/styles.csv

image_clustering/dataset